/* 定义了本项目中的常用CSS变量 */
:root {
  --btn-color: #108ee9;
  --word-color: #555;
  --word-gray-color: #8b8b8b;
  --word-warn-color: #cc422e;
  /* 边框 */
  --border-color: #d7d7d7;
  /* 字体大小与行高 */
  --font-size-base: 0.28rem;
  --font-size-bigger: 0.32rem;
  --font-size-smaller: 0.24rem;
  --font-size-h2: 0.4rem;
  --line-height: 0.56rem;
  --font-size-h1: 0.48rem;
  --font-size-supper: 0.6rem;
}
html {
  font-size: 13.89vw;
}
body {
  background-color: #f5f5f5;
  color: var(--word-color);
  font-size: 0.28rem;
  line-height: 0.44rem;
}

/* 高度继承 */
html,
body,
#app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*设置input提示文字的样式*/
input::placeholder {
  font-size: 0.28rem;
}

h1 {
  font-size: var(--font-size-h2);
}

i {
  font-style: normal;
}

.van-tabs__line {
  background-color: #ffd321;
}
.van-tab--active {
  color: #000;
  font-weight: bold;
}
