/* 清除margin */

body,
p,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  /* 移动端按压效果取消 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: normal;
}

body {
  /* ios上的滑动卡顿 */
  -webkit-overflow-scrolling: touch;
  /* 防止长按选中 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

body,
div,
ul,
li,
img,
button,
textarea,
input,
select {
  box-sizing: border-box;
}

img {
  font-size: 0.24rem;
}

a {
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a,
button,
input,
textarea,
select {
  outline: none;
}

select,
input {
  appearance: none;
}

input,
textarea {
  border: none;
}

a:hover {
  outline: 0;
}

/* 清除浮动 */

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* 单行文本截断 */

.cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 去除滚动条 */

::-webkit-scrollbar {
  display: none;
}
